# Reading the results of predictions

In [1]:
import pandas as pd

In [2]:
res_data = pd.read_excel('resnet_result.xlsx')
res_data.head()

   Unnamed: 0  Prediction   Accuracy
0           0      collie  71.147239
1           1  television  15.101729
2           2   Chihuahua  48.090509
3           3    Pembroke  85.047215
4           4    Pembroke  64.092809

In [3]:
res_data = res_data.drop(['Unnamed: 0'], axis = 1)
res_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Prediction  50 non-null     object
 1   Accuracy    50 non-null     float64
dtypes: float64(1), object(1)
memory usage: 928.0+ bytes

In [17]:
res_data['Prediction'].value_counts()

golden_retriever            6
Pembroke                    6
Samoyed                     2
vizsla                      2
pug                         2
Saluki                      2
malamute                    2
Labrador_retriever          2
Boston_bull                 2
Old_English_sheepdog        1
seashore                    1
bloodhound                  1
collie                      1
cocker_spaniel              1
Doberman                    1
Cardigan                    1
Pomeranian                  1
ice_bear                    1
lakeside                    1
dingo                       1
Irish_setter                1
Chesapeake_Bay_retriever    1
Irish_terrier               1
television                  1
Great_Pyrenees              1
papillon                    1
Irish_wolfhound             1
Bernese_mountain_dog        1
Arabian_camel               1
Italian_greyhound           1
whippet                     1
Weimaraner                  1
toy_poodle                  1
bluetick                    1
Chihuahua                   1
croquet_ball                1
Name: Prediction, dtype: int64

6 predictions were not dogs

In [4]:
44/50*100

88.0

In [5]:
vgg_data = pd.read_excel('vgg_result.xlsx')
vgg_data.head()

   Unnamed: 0 Prediction   Accuracy
0           0     collie  27.806208
1           1  Chihuahua  19.943847
2           2  Chihuahua  27.837750
3           3   Cardigan  62.555903
4           4   Cardigan  74.440324

In [6]:
vgg_data['Prediction'].value_counts()

Chihuahua                   4
Cardigan                    3
golden_retriever            3
collie                      2
Pembroke                    2
malamute                    2
Saluki                      2
vizsla                      2
French_bulldog              2
Chesapeake_Bay_retriever    2
Italian_greyhound           2
whippet                     1
pug                         1
Ibizan_hound                1
sandbar                     1
ptarmigan                   1
Pomeranian                  1
miniature_poodle            1
Labrador_retriever          1
cocker_spaniel              1
white_wolf                  1
Weimaraner                  1
ibex                        1
Irish_setter                1
fur_coat                    1
borzoi                      1
Doberman                    1
Irish_terrier               1
dingo                       1
papillon                    1
langur                      1
Bernese_mountain_dog        1
kuvasz                      1
Pekinese                    1
boxer                       1
Name: Prediction, dtype: int64

7 predictions were not dogs

In [7]:
43/50*100

86.0

In [8]:
48/50*100

96.0